extends layout

block content
  h1= title
  - let items = results;
  - let createins = `createInstance(\"/sea/create")`
  button.btn(class="btn-primary ml-1", onclick=createins) create
  div(class="container-fluid")
    div(class="row")
      each item in items
        - let destination = `dispatch(\"/sea/update?id=${item._id}\")`
        - let detailins = `detailInstance(\"/sea/detail?id=${item._id}\")`
        - let deleteins = `deleteInstance(\"/sea/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1")
          | sea #{item.name}(#{item.sizeinkm}) is #{item.location}
          button.btn(class="btn-primary ml-1", onclick=destination) Update
          button.btn(class="btn-primary ml-1", onclick=deleteins) Delete 
          button.btn(class="btn-primary ml-1", onclick=detailins) Detail

    div.container-fluid 
      div.row
        each sea, index in items 
          div.col-sm-2(onclick=`buy(${index})`) #{sea.name}
          div.col-sm-2(onclick=`buy(${index})`) #{sea.sizeinkm}
          div.col-sm-2(onclick=`buy(${index})`) #{sea.location}
          br
          hr

  script.
    function buy(id) {
      alert(`you purchased Item: ${id}`)
    }

  script.
    function dispatch(path){
      window.location.href = path;
    }
  script.
    function deleteInstance(path){
      window.location.href = path;
    }
  script.
    function detailInstance(path){
      window.location.href = path;
    }
  script.
    function createInstance(path){
      window.location.href = path;
    }

